<meta charset="UTF-8">
<meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
<meta content="ie=edge" http-equiv="X-UA-Compatible">
<div smooth-scroll-container="">

<section class="component-our-journey">
  <div class="container">
    <div class="our-journey">
      <div class="our-journey-title center">
        <h6 class="headline-6 normal">OUR JOURNEY</h6>
        <h2 class="headline-2">How we became the UK leading retailer</h2>
      </div>
      <div class="our-journey-content">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="journey-box center milky">
              <h6 class="headline-6">STEP 1 – DIGITAL STRATEGY</h6>
              <svg width="35" height="27" viewBox="0 0 35 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                  <path d="M34.3617 0.635742H0.638062V25.4974H26.2641L34.3617 17.3585V0.635742Z" stroke="#252525" stroke-width="1.08" stroke-miterlimit="10"/>
                  <path d="M34.3619 17.3584H28.661C27.335 17.3584 26.2643 18.4323 26.2643 19.7464V25.4902" stroke="#252525" stroke-width="1.08" stroke-miterlimit="10"/>
                  <path d="M0.638062 4.4436H34.3617" stroke="#252525" stroke-width="1.08" stroke-miterlimit="10"/>
                  <path d="M13.2666 2.4585H32.1564" stroke="#252525" stroke-width="1.08" stroke-miterlimit="10"/>
                  <path d="M2.12732 2.4585H2.97821" stroke="#252525" stroke-width="1.08" stroke-miterlimit="10"/>
                  <path d="M4.23303 2.4585H5.08392" stroke="#252525" stroke-width="1.08" stroke-miterlimit="10"/>
                  <path d="M6.3313 2.4585H7.18219" stroke="#252525" stroke-width="1.08" stroke-miterlimit="10"/>
                  <path d="M14.9827 16.433L19.8966 9.98267" stroke="#252525" stroke-width="1.08" stroke-miterlimit="10"/>
                  <path d="M21.3076 10.2583L24.4063 13.1903L21.3076 16.1293" stroke="#252525" stroke-width="1.08" stroke-miterlimit="10"/>
                  <path d="M13.5646 16.1293L10.4659 13.1903L13.5646 10.2583" stroke="#252525" stroke-width="1.08" stroke-miterlimit="10"/>
                  <path d="M20.5349 7.10742H14.1674C10.7213 7.10742 7.92749 9.89102 7.92749 13.3246C7.92749 16.7582 10.7213 19.5418 14.1674 19.5418H15.2948L17.3724 21.7107L19.45 19.5418H20.5278C23.9739 19.5418 26.7676 16.7582 26.7676 13.3246C26.7747 9.89809 23.981 7.10742 20.5349 7.10742Z" stroke="#252525" stroke-width="1.08" stroke-miterlimit="10"/>
                </g>
                <defs>
                  <clipPath id="clip0">
                    <rect width="35" height="26.1333" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
              <h3 class="headline-7">Proposition Development</h3>
              <p class="paragraph-1">Vestibulum ut tincidunt augue. Nam rutrum purus nibh, vel rutrum neque fermentum non. Ut ultrices commodo turpis. Mauris convallis ullamcorper.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
<script src="./main.js"></script>
