<meta charset="UTF-8">
<meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
<meta content="ie=edge" http-equiv="X-UA-Compatible">
<div smooth-scroll-container="">
  <section class="component-home-swiper">
    <div class="container">
      <div class="home-swiper">
        <div class="left-side">
          <h6 class="headline-6 normal">STEP 1 – DIGITAL STRATEGY</h6>
        </div>
      </div>
    </div>
  </section>
</div>
<script src="./main.js"></script>
