<meta charset="UTF-8">
<meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
<meta content="ie=edge" http-equiv="X-UA-Compatible">

<section class="template-component">
  <div class="wysiwyg-block">
      <h1>lorem ipsum and another lorem ipsum</h1>
      <h2 style="font-style: italic">lorem ipsum and another lorem ipsum</h2>
      <h3>lorem ipsum and another lorem ipsum</h3>
      <h4>lorem ipsum and another lorem ipsum</h4>
      <h5>lorem ipsum and another lorem ipsum</h5>
      <h6>lorem ipsum and another lorem ipsum</h6>
      <p>lorem ipsum and another lorem ipsum</p>
  </div>
</section>
<script src="./main.js"></script>
