<meta charset="UTF-8">
<meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
<meta content="ie=edge" http-equiv="X-UA-Compatible">
<div smooth-scroll-container="">
  <section class="component-our-testimonials">
    <div class="container">
      <div class="testimonials-wrapper">
        <div class="circle-shape-1 iv-st-from-bottom">
          <img alt="testimonial-shape-1" src="./../../html/images/testimonial-shape-1.png">
        </div>
        <div class="circle-shape-2 iv-st-from-bottom">
          <img alt="testimonial-shape-2" src="./../../html/images/testimonial-shape-2.png">
        </div>
        <div class="testimonials swiper-container">
          <div class="swiper-wrapper">
            <div class="testimonial swiper-slide">
              <div class="testimonials-description">
                <p class="des-p real-line-up">‘Zephyr have played a fundamental role in the success of Fully Charged to date. My team are in constant interaction with the zephyr team discussing ongoing marketing
                  campaigns, optimising our ecommerce store and much more’
                </p>
              </div>
              <div class="image-content center">
                <img class="iv-st-from-bottom" alt="testimonial-image" src="./../../html/images/testimonial-image.png">
                <h4 class="name word-up">Ben Jaconelli</h4>
                <h5 class="job-title word-up">CEO of Fully Charged</h5>
              </div>
            </div>
            <div class="testimonial swiper-slide">
              <div class="testimonials-description">
                <p class="des-p">‘Zephyr have played a fundamental role in the success of Fully Charged to date. My team are in constant interaction with the zephyr team discussing ongoing marketing
                  campaigns, optimising our ecommerce store and much more’
                </p>
              </div>
              <div class="image-content center">
                <img alt="testimonial-image" src="./../../html/images/testimonial-image.png">
                <h4 class="name">Ben Jaconelli</h4>
                <h5 class="job-title">CEO of Fully Charged</h5>
              </div>
            </div>
            <div class="testimonial swiper-slide">
              <div class="testimonials-description">
                <p class="des-p">‘Zephyr have played a fundamental role in the success of Fully Charged to date. My team are in constant interaction with the zephyr team discussing ongoing marketing
                  campaigns, optimising our ecommerce store and much more’
                </p>
              </div>
              <div class="image-content center">
                <img alt="testimonial-image" src="./../../html/images/testimonial-image.png">
                <h4 class="name">Ben Jaconelli</h4>
                <h5 class="job-title">CEO of Fully Charged</h5>
              </div>
            </div>
          </div>
          <div class="swiper-pagination small-pagination"></div>
        </div>
      </div>
    </div>
  </section>
</div>
<script src="./main.js"></script>
