\.idea/

node_modules/

helper_files/

themes/zephyr/acf-json/.DS_Store

.DS_Store

plugins/duplicator/

plugins/

uploads/

/themes/zephyr/assets/trash-compiled-files/**/*

/themes/zephyr/assets/*\.html
