<meta charset="UTF-8">
<meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
<meta content="ie=edge" http-equiv="X-UA-Compatible">
<div smooth-scroll-container="">
  <section class="component-increase">
    <div class="container">
      <div class="increase-container swiper-container">
        <div class="row swiper-wrapper flex-nowrap flex-xl-wrap">
          <div class="col-xl-4 swiper-slide">
            <div class="increase-content center">
              <h4 class="headline-4 word-up">£3 Million</h4>
              <p class="paragraph-1 word-up">anticipated revenue in 2020</p>
            </div>
          </div>
          <div class="col-xl-4 swiper-slide">
            <div class="increase-content center">
              <h4 class="headline-4 word-up">140% increase</h4>
              <p class="paragraph-1 word-up">of  traffic year on year for 5 years</p>
            </div>
          </div>
          <div class="col-xl-4 swiper-slide">
            <div class="increase-content center">
              <h4 class="headline-4 word-up">£3 Million</h4>
              <p class="paragraph-1 word-up">anticipated revenue in 2020, up from 1.2 million in 2019</p>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
</div>
<script src="./main.js"></script>
