<meta charset="UTF-8">
<meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
<meta content="ie=edge" http-equiv="X-UA-Compatible">
<div smooth-scroll-container="">
  
  <section class="component-growth-guide">
    <div class="container">
      <div class="growth-guide">
        <div class="growth-guide-title center">
          <h6 class="headline-6 normal">GROWTH GUIDE</h6>
          <h2 class="headline-2">Digital Growth Marketing & Transformation
            for small businesses </h2>
        </div>
        <div class="growth-guide-content">
          <div class="row">
            <div class="col-12 col-md-auto">
              <div class="left-content">
                <ol>
                  <li class="guide">
                    <div class="title">
                      <h3 class="paragraph-1">An Introduction to the guide</h3>
                      <div class="icons">
                        <span class="plus icon">+</span>
                        <span class="minus icon">-</span>
                      </div>
                    </div>
                    <ol class="guide-content">
                      <li class="">Who is this guide for?</li>
                      <li class="">Websites & why I am not talking about them here.</li>
                      <li class="">Who are we and why did we write this?</li>
                      <li class="">How up to date is it?</li>
                    </ol>
                  </li>
                  <li class="guide">
                    <div class="title">
                      <h3 class="paragraph-1">An Introduction to the guide</h3>
                      <div class="icons">
                        <span class="plus icon">+</span>
                        <span class="minus icon">-</span>
                      </div>
                    </div>
                  </li>
                  <li class="guide">
                    <div class="title">
                      <h3 class="paragraph-1">An Introduction to the guide</h3>
                      <div class="icons">
                        <span class="plus icon">+</span>
                        <span class="minus icon">-</span>
                      </div>
                    </div>
                  
                  </li>
                  <li class="guide">
                    <div class="title">
                      <h3 class="paragraph-1">An Introduction to the guide</h3>
                      <div class="icons">
                        <span class="plus icon">+</span>
                        <span class="minus icon">-</span>
                      </div>
                    </div>
                  </li>
                  <li class="guide">
                    <div class="title">
                      <h3 class="paragraph-1">An Introduction to the guide</h3>
                      <div class="icons">
                        <span class="plus icon">+</span>
                        <span class="minus icon">-</span>
                      </div>
                    </div>
                  </li>
                  <li class="guide">
                    <div class="title">
                      <h3 class="paragraph-1">An Introduction to the guide</h3>
                      <div class="icons">
                        <span class="plus icon">+</span>
                        <span class="minus icon">-</span>
                      </div>
                    </div>
                  </li>
                </ol>
              </div>
            </div>
            <div class="col-12 col-md">
              <div class="right-content">
                Moaz Right
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<script src="./main.js"></script>
