@import "src/styles/variables";
@import "src/styles/mixins";

section.component-growth-guide {
    
    .growth-guide {
        .growth-guide-content {
            .left-content {
                max-width: size(336);
                border: 1px solid #c6c6c6;
                @include paddingY(size(44), size(27));
                
                .guide-container {
                    @include paddingX(size(42), size(22));
                    padding-bottom: size(24);
    
                }
                
            }
            
            .right-content {
                .headline-8 {
                    span {
                        font-size: size(12);
                        letter-spacing: size(0.09);
                    }
                }
                
                ul {
                    list-style: disc;
                    padding-left: size(25);
                    
                    li {
                        line-height: size(24);
                        font-weight: 500;
                        font-style: italic;
                    }
                }
                
                .image-wrapper {
                    @include marginY(size(33), size(48));
                    padding-top: 68.95%;
                    position: relative;
                    height: 0;
                    
                    img {
                        position: absolute;
                        top: 0;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                
                .paragraphs {
                    .paragraph-1 {
                        span {
                            background-color: rgba(107, 227, 168, 0.6);
                        }
                    }
                }
                
                .written-by {
                    max-width: size(293);
                    justify-content: space-between;
                    margin-top: size(35);
                    
                    .paragraph-1 {
                        span {
                            font-family: $Sailec;
                            font-weight: 500;
                            letter-spacing: size(0.17);
                        }
                    }
                }
                
                .next-chapter {
                    display: block;
                    margin-top: size(150);
                }
            }
        }
    }
}