@import "src/styles/variables";
@import "src/styles/mixins";

footer {
    background-color: #1f1f1f;
    @include paddingY(size(64), size(88));
    @include x-large-screen {
        @include paddingY(size(67), size(143));
    }
    
    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        @include x-large-screen {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
        // logo and copy
        .logo-and-copy {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: size(60);
            @include x-large-screen {
                align-items: flex-start;
                margin-bottom: 0;
                
            }
            
            .paragraph {
                text-align: center;
                margin-top: size(24);
                display: block;
                @include x-large-screen {
                    font-size: size(14);
                    line-height: size(24);
                    max-width: size(202);
                    text-align: left;
                }
            }
        }
        
        // links
        .links {
            @include x-large-screen {
                display: flex;
                flex-direction: row-reverse;
                min-width: size(790);
                justify-content: space-between;
            }
            
            .title-and-link {
                display: flex;
                flex-direction: column;
                align-items: center;
                
                @include x-large-screen {
                    justify-content: flex-start;
                    align-items: flex-start;
                    
                }
                
                // title
                .headline-7 {
                    margin-bottom: size(25);
                }
                
                // link
                .link {
                    @include x-large-screen {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                    }
                    
                    .paragraph {
                        line-height: size(32);
                        transition: all 400ms ease-in-out;
                        @include x-large-screen {
                            line-height: size(24);
                            &:not(:last-child) {
                                margin-bottom: size(12);
                            }
                        }
                        
                    }
                    
                    a {
                        overflow: hidden;
                        
                        span {
                            position: relative;
                            transition: transform 0.3s ease-in-out;
                            display: block;
                            
                            &:before {
                                position: absolute;
                                top: 100%;
                                content: attr(data-hover);
                                transform: translate3d(0, 0, 0);
                            }
                        }
                        
                        &:hover {
                            span {
                                transform: translateY(-100%);
                                color: $zephyr-green;
                            }
                        }
                    }
                }
                
                &.navigation {
                    display: none;
                    @include x-large-screen {
                        display: flex;
                        flex-direction: column;
                    }
                    
                }
                
                &.newsletter {
                    input {
                        min-width: size(240);
                        padding: 0 0 size(12) 0;
                        border-bottom: 1px solid #fefefd;
                        margin-bottom: 20px;
                    }
                    
                    .btn {
                        min-width: size(156);
                        border: 1px solid #4b4b4b;
                    }
                }
                
                &.social {
                    @include marginY(size(44), size(53));
                    @include x-large-screen {
                        margin: 0;
                    }
                    
                    .icons {
                        .icon {
                            &:not(:last-child) {
                                margin-right: size(38);
                            }
                            
                            &:hover {
                                svg {
                                    path {
                                        fill: $zephyr-green;
                                    }
                                }
                            }
                            
                        }
                    }
                }
                
                &.legal {
                    max-width: 320px;
                    .link {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-around;
                    }
                }
            }
        }
        
    }
}