<meta charset="UTF-8">
<meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
<meta content="ie=edge" http-equiv="X-UA-Compatible">
<div smooth-scroll-container="">
  
  <section class="component-case-studies">
    <div class="container">
      <div class="paragraph-1 word-up desktop-only">CASE STUDIES</div>
      <h1 class="headline-1 real-line-up">We collaborate with exciting new companies…</h1>
      <div class="row">
        <div class="col-12 bike-image">
          <div class="image-wrapper" data-reveal-direction="left">
            <img  src="../../html/images/home-image%20.png"  alt="image">
          </div>
          <div class="content">
            <h5 class="headline-5 word-up">Fully Charged</h5>
            <h4 class="headline-4 real-line-up">Kickstarting the eBike revolution.</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<script src="./main.js"></script>


