<meta charset="UTF-8">
<meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
<meta content="ie=edge" http-equiv="X-UA-Compatible">
<div smooth-scroll-container="">
  
  <section class="component-case-studies">
    <div class="container">
      <div class="paragraph-1 word-up desktop-only">CASE STUDIES</div>
      <h1 class="headline-1 real-line-up">We collaborate with exciting new companies…</h1>
     <div class="image-content">
       <div class="image-bg">
         <img class="mac"  src="../../html/images/macbook.png"  alt="image">
       </div>
     </div>
      <div class="content">
        <h5 class="headline-5">Fully Charged</h5>
        <h4 class="headline-4">Kickstarting the eBike revolution.</h4>
      </div>
    </div>
  </section>
</div>
<script src="./main.js"></script>


