@import "src/styles/variables";
@import "src/styles/mixins";

section.component-case-studies {
    margin-bottom: size(33);
    @include min-small-screen {
        margin-bottom: size(100);
    }
    
    @include x-large-screen {
        margin-bottom: size(120);
    }
    
    
    .desktop-only {
        font-family: $Canela;
        justify-content: center;
    }
    
    .headline-1 {
        color: $zephyr-gray;
        max-width: size(310);
        margin: 0 auto size(60);
        @include min-small-screen {
            margin: size(23) auto size(60);
            max-width: size(400);
        }
        
        @include min-medium-screen {
            max-width: size(500);
            font-size: size(45);
            line-height: size(60);
            letter-spacing: size(0.54);
        }
        @include x-large-screen {
            max-width: 100%;
            margin: size(23) auto size(80);
            
        }
        
        
    }
    
    .image-content{
    
    
    }
    .content {
        .headline-5 {
            @include marginY(size(23), size(4));
        }
    }
    
}


