@import "src/styles/variables";
@import "src/styles/mixins";

section.component-case-studies {
    margin-top: 100px;
    padding-bottom: 250px;
    
    .desktop-only {
        font-family: $Canela;
        justify-content: center;
    }
    
    .headline-1 {
        color: $zephyr-gray;
        max-width: size(310);
        margin: 0 auto size(60);
        @include min-small-screen {
            margin: size(23) auto size(60);
            max-width: size(400);
        }
        
        @include min-medium-screen {
            max-width: size(500);
            font-size: size(45);
            line-height: size(60);
            letter-spacing: size(0.54);
        }
        @include x-large-screen {
            max-width: 100%;
            margin: size(23) auto size(80);
            
        }
        
        
    }
    
    .bike-image {
        margin-bottom: size(55);
        
        .image-wrapper {
            position: relative;
            padding-top: 50.3%;
            
            img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
            }
            
        }
    }
    
}


