@import "src/styles/variables";
@import "src/styles/mixins";

section.component-hero {
    height: 100vh;
    position: relative;
    display: flex;
    @include paddingY(size(182) , size(180));
    @include min-small-screen{
        @include paddingY(size(250) , size(212));
    }
    
    .hero-image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
    }
    
    .content {
        .headline-6 {
            color: $zephyr-white;
        }
        
        .headline-1 {
            color: $zephyr-gray-light;
            @include marginY(size(18), size(25));
            @include min-medium-screen {
                color: $zephyr-white;
                @include marginY(size(18), size(22));
            }
        }
        .paragraph{
            @include min-medium-screen {
            max-width: size(700);
                margin: 0 auto;
            }
        }
    }
    
    .down {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: size(35);
        cursor: pointer;
        display: none;
        @include min-small-screen{
            display: block;
        }
        svg {
            .dot {
                animation: dot 1s ease-in-out infinite alternate;
                transform: translateY(0);
            }
            
            @keyframes dot {
                0% {
                    transform: translateY(0);
                }
                100% {
                    transform: translateY(18px);
                }
            }
        }
    }
}