<meta charset="UTF-8">
<meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
<meta content="ie=edge" http-equiv="X-UA-Compatible">
<div smooth-scroll-container="">

<section class="component-sector-expertise-image-2">
  <div class="container">
        <div class="image-1">
          <div class="image-wrapper ">
            <img src="./../../html/images/sector-expertise-image-2.png" alt="sector-expertise-image-2">
          </div>
          <p class="paragraph-1 ">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum.</p>
        </div>
  </div>
</section>
</div>
<script src="./main.js"></script>
