@import "src/styles/variables";
@import "src/styles/mixins";

section.component-sector-expertise-image-2 {
    display: none;
    @include min-medium-screen {
        @include marginY(size(89), size(152));
        display: block;
    }
    padding-bottom: 200px;
    .image-1 {
        .image-wrapper{
            position: relative;
            height: 0;
            padding-top: 65.92%;
            margin-bottom: size(25);
            img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
            }
        }
        .paragraph-1 {
            @include x-large-screen {
                padding-right: size(44);
            }
        }
    }
}