@import "src/styles/variables";
@import "src/styles/mixins";

section.component-sector-expertise-image-1 {
    @include marginY(size(84), size(63));
    @include min-medium-screen {
        @include marginY(size(292), size(94));
    }
    padding-bottom: 200px;
    .image-1 {
        .image-wrapper{
            position: relative;
            height: 0;
            padding-top: 62.13%;
            @include min-medium-screen{
                padding-top: 50.13%;
            }
            margin-bottom: size(25);
            img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
            }
        }
        .paragraph-1 {
            @include x-large-screen {
                @include paddingX(size(12), size(44));
            }
        }
    }
}