<meta charset="UTF-8">
<meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
<meta content="ie=edge" http-equiv="X-UA-Compatible">
<div smooth-scroll-container="">
  
  <section class="component-cards">
    <div class="container">
      <div class="row">
        <div class="col-6 card">
          <div class="image-wrapper">
            <img src="../../html/images/bike-1.png" data-reveal-direction="left" alt="bike">
          </div>
          <p class="paragraph-1 real-line-up desktop-only">
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum.
          </p>
        </div>
        <div class="col-6 card">
          <div class="image-wrapper">
            <img src="../../html/images/bike-2.png" data-reveal-direction="left" alt="bike">
          </div>
          <p class="paragraph-1 real-line-up desktop-only">
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum.
          </p>
        </div>
        <div class="col-12 mobile-only">
        <p class="paragraph real-line-up center">Donec ullamcorper nulla non metus auctor fringilla.</p>
        </div>
      </div>
    </div>
  </section>

</div>
<script src="./main.js"></script>


