<meta charset="UTF-8">
<meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
<meta content="ie=edge" http-equiv="X-UA-Compatible">
<div smooth-scroll-container="">
  
  <section class="component-grid-images">
    <div class="container">
      <div class="gide-wrapper">
        <div class="card iv-st-from-bottom  card-one">
          <div class="image-wrapper image-wrapper-2">
            <img  src="../../html/images/phone-2%20.png" alt="image">
          </div>
          <div class="content">
            <h5 class="headline-5 word-up">Float</h5>
            <h4 class="headline-4 real-line-up">Democratising financial wellbeing.</h4>
          </div>
        </div>
        <div class="card iv-st-from-bottom  card-two">
          <div class="image-wrapper image-wrapper-4">
            <img  src="../../html/images/meeting%20.png" alt="image">
          </div>
          <div class="content">
            <h5 class="headline-5 word-up">Chartwell</h5>
            <h4 class="headline-4 real-line-up">Creating a leading international speakers bureau</h4>
          </div>
        </div>
        <div class="card iv-st-from-bottom  card-three">
          <div class="image-wrapper image-wrapper-3">
            <img  src="../../html/images/pangaea%20.png" alt="image">
          </div>
          <div class="content">
            <h5 class="headline-5 word-up">Pangaea</h5>
            <h4 class="headline-4 real-line-up">Uncover a new wave of medical research</h4>
          </div>
        </div>
        <div class="card iv-st-from-bottom  card-four">
          <div class="image-wrapper image-wrapper-5">
            <img  src="../../html/images/phone%20.png" alt="image">
          </div>
          <div class="content">
            <h5 class="headline-5 word-up">Spencer Hart</h5>
            <h4 class="headline-4 real-line-up">Ultra premium men’s tailoring.</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<script src="./main.js"></script>


