@import "src/styles/variables";
@import "src/styles/mixins";

section.component-grid-images {
    margin-top: size(70);
    @include min-medium-screen {
        margin-top: 0;
    }
    
    .paragraph-1 {
        font-size: size(14);
        font-family: $Sailec;
        letter-spacing: size(0.44);
    }
    
    .headline-1 {
        color: $zephyr-gray;
        @include marginY(size(30), size(72));
        @include min-small-screen {
            @include marginY(size(15), size(90));
            
        }
        @include min-medium-screen {
            font-size: size(45);
            line-height: size(66);
            letter-spacing: size(0.44);
        }
        
        @include x-large-screen {
            @include marginY(size(13), size(85));
        }
    }
    
    
    
    .grid {
        .grid-item {
            margin-bottom: size(60);
            @include x-large-screen{
                margin-bottom: size(75);
            }
            .image-wrapper {
                position: relative;
                img {
                    width: 100%;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                    
                    &.iphone {
                        position: absolute;
                        width: 65%;
                        height: auto;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    
                    &.logo {
                        position: absolute;
                        width: 59%;
                        height: auto;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                    
                    &.iphone-frame {
                        position: absolute;
                        height: 100%;
                        width: 61.3%;
                        left: 50%;
                        transform: translateX(-50%);
                        @include x-large-screen {
                            height: auto;
                        }
                        @include max-large-screen {
                            top: 0 !important;
                        }
                    }
                }
                
            }
            
            .content {
                .headline-5 {
                    @include marginY(size(20), size(4));
                }
            }
            
        }
    }
}


