<meta charset="UTF-8">
<meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
<meta content="ie=edge" http-equiv="X-UA-Compatible">
<div smooth-scroll-container="">
  
  <section class="component-article-guide">
    <div class="container">
      <div class="article-guide">
        <div class="article-guide-title center">
          <h6 class="headline-6 normal word-up">GROWTH GUIDE</h6>
          <h2 class="headline-2 real-line-up">Digital Growth Marketing & Transformation for small businesses </h2>
        </div>
        <div class="article-guide-content">
          <div class="row">
            <div class="col-12 col-md-auto">
              <div class="left-content">
                <h6 class="headline-6 word-up">Contents</h6>
                <ol class="article-container">
                  <li class="guide iv-st-from-bottom">
                    <div class="title">
                      <h3>An Introduction to the guide</h3>
                    </div>
                    <ol class="guide-content">
                      <li><a href="#">Who is this guide for?</a></li>
                      <li><a href="#">Websites & why I am not talking about them here.</a></li>
                      <li><a href="#">Who are we and why did we write this?</a></li>
                      <li><a href="#">How up to date is it?</a></li>
                    </ol>
                  </li>
                  <li class="guide iv-st-from-bottom">
                    <div class="title">
                      <h3>Creating a Digital Growth Strategy</h3>
                    </div>
                    <ol class="guide-content">
                      <li><a href="#">Who is this guide for?</a></li>
                      <li><a href="#">Websites & why I am not talking about them here.</a></li>
                      <li><a href="#">Who are we and why did we write this?</a></li>
                      <li><a href="#">How up to date is it?</a></li>
                    </ol>
                  </li>
                  <li class="guide iv-st-from-bottom">
                    <div class="title">
                      <h3>Measuring Success</h3>
                    </div>
                    <ol class="guide-content">
                      <li><a href="#">Who is this guide for?</a></li>
                      <li><a href="#">Websites & why I am not talking about them here.</a></li>
                      <li><a href="#">Who are we and why did we write this?</a></li>
                      <li><a href="#">How up to date is it?</a></li>
                    </ol>
                  </li>
                  <li class="guide iv-st-from-bottom">
                    <div class="title">
                      <h3>Organic SEO </h3>
                    </div>
                    <ol class="guide-content">
                      <li><a href="#">Who is this guide for?</a></li>
                      <li><a href="#">Websites & why I am not talking about them here.</a></li>
                      <li><a href="#">Who are we and why did we write this?</a></li>
                      <li><a href="#">How up to date is it?</a></li>
                    </ol>
                  </li>
                  <li class="guide iv-st-from-bottom">
                    <div class="title">
                      <h3>Local SEO</h3>
                    </div>
                    <ol class="guide-content">
                      <li><a href="#">Who is this guide for?</a></li>
                      <li><a href="#">Websites & why I am not talking about them here.</a></li>
                      <li><a href="#">Who are we and why did we write this?</a></li>
                      <li><a href="#">How up to date is it?</a></li>
                    </ol>
                  </li>
                  <li class="guide iv-st-from-bottom">
                    <div class="title">
                      <h3>PPC</h3>
                    </div>
                    <ol class="guide-content">
                      <li><a href="#">Who is this guide for?</a></li>
                      <li><a href="#">Websites & why I am not talking about them here.</a></li>
                      <li><a href="#">Who are we and why did we write this?</a></li>
                      <li><a href="#">How up to date is it?</a></li>
                    </ol>
                  </li>
                  <li class="guide iv-st-from-bottom">
                    <div class="title">
                      <h3>Social Media & Campaigns</h3>
                    </div>
                    <ol class="guide-content">
                      <li><a href="#">Who is this guide for?</a></li>
                      <li><a href="#">Websites & why I am not talking about them here.</a></li>
                      <li><a href="#">Who are we and why did we write this?</a></li>
                      <li><a href="#">How up to date is it?</a></li>
                    </ol>
                  </li>
                </ol>
                <div class="search-input iv-st-from-bottom">
                  <div class="input-wrapper">
                    <input placeholder="Type to Search" type="search">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M6.60859 1.10385C9.64401 1.10385 12.1135 3.57336 12.1135 6.60878C12.1135 9.64401 9.64401 12.1135 6.60859 12.1135C3.57336 12.1135 1.10385 9.64401 1.10385 6.60878C1.10385 3.57336 3.57336 1.10385 6.60859 1.10385ZM11.6528 10.8724C12.663 9.67915 13.2174 8.17202 13.2174 6.60878C13.2174 2.96458 10.2528 0 6.60859 0C2.96458 0 0 2.96458 0 6.60878C0 10.2528 2.96458 13.2174 6.60859 13.2174C8.17183 13.2174 9.67896 12.663 10.8724 11.6528L15.2196 16L16 15.2196L11.6528 10.8724Z" fill="#606060"/>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md">
              <div class="right-content">
                <h6 class="headline-8 normal-line iv-st-from-bottom"><span>1.2</span> Websites & why I am not talking about them here.</h6>
                <p class="paragraph-1 real-line-up">When we first start working with clients, often the first thing that we do is work on defining their proposition and brand and then building their
                  website. However this guide specifically avoids talking a lot about this process. This is because there is a huge amount of variation in the process and requirements when approaching
                  these elements. Different companies need their website to do completely different things and defining a companies proposition and brand is a creative process that is more art than
                  science, we might come back to talk about these elements in more detail at a later date but for now we wanted to focus on the nuts and bolts of setting up a digital presence and
                  starting to connect with your customers online. </p>
                <a class="next-chapter iv-st-from-bottom" href="#">
                  <h3 class="headline-3">Next Chapter ></h3>
                  <h6 class="headline-8"><span>1.3 </span> Who are we and why did we write this guide?</h6>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<script src="./main.js"></script>
