<meta charset="UTF-8">
<meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
<meta content="ie=edge" http-equiv="X-UA-Compatible">
<div smooth-scroll-container="">
  <header>
    <div class="container">
      <div class="header-content">
        <!--      burger menu and cross-->
        <div class="menu">
        <button class="burger-menu" id="burger-menu">
          <span></span>
          <span></span>
          <span></span>
        </button>
        </div>
        <!--      logo-->
        <a class="logo light" href="#">
          <img src="../../html/images/logo.png" alt="logo">
        </a>
        <a class="logo dark" href="#">
          <img src="../../html/images/gray-logo.png" alt="logo">
        </a>
        <!--    links-->
        <div class="links">
          <a class="small-link" href="#"><span data-hover="Sector Expertise">Sector Expertise</span></a>
          <a class="small-link" href="#"><span data-hover="About">About</span></a>
          <a class="small-link" href="#"><span data-hover="Growth Guide">Growth Guide</span></a>
          <a class="small-link" href="#"><span data-hover="Say hello">Say hello</span></a>
        </div>
      </div>
    </div>
  </header>
</div>
<script src="./main.js"></script>
