@import "src/styles/variables";
@import "src/styles/mixins";

section.component-our-team {
    @include marginY(size(105));
    @include x-large-screen {
        @include marginY(size(111), size(200));
    }
    
    .our-team {
        .our-team-title {
            margin-bottom: size(64);
            @include min-medium-screen {
                margin-bottom: size(94);
            }
            
            .headline-6 {
                margin-bottom: size(20);
                display: none;
                @include min-medium-screen {
                    display: block;
                }
            }
        }
        
        .our-team-content {
            .row {
                @include change-gutter(35px);
                @include min-medium-screen {
                    @include change-gutter(65px);
                }
            }
            
            .team-parent {
                .team-person {
                    margin-bottom: size(30);
                    max-width: 100%;
                    @include min-x-small-screen {
                        max-width: 80%;
                        @include marginX(auto);
                    }
                    @include min-small-screen {
                        max-width: 70%;
                    }
                    @include min-medium-screen {
                        margin-bottom: size(36);
                        max-width: size(232);
                        @include marginY(0);
                    }
                    @include x-large-screen {
                        margin-bottom: size(62);
                    }
                    
                    .image-wrapper {
                        position: relative;
                        margin-bottom: size(21);
                        padding-top: 107%;
                        height: 0;
                        @include min-medium-screen {
                            margin-bottom: size(27);
                        }
                        
                        img {
                            position: absolute;
                            top: 0;
                            height: 100%;
                            width: 100%;
                            object-fit: contain;
                        }
                        
                        .animated-circle{
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            background-size: auto!important;
                            &.milky-circle {
                                background-image: url('./../../html/images/rectangle.png'), url('./../../html/images/milky-circle.png');
                                background-position: right 56%, 6% 43%;
                                background-repeat: no-repeat;
                                background-size: 67px 67px;
                                @include min-medium-screen {
                                    background: url('./../../html/images/milky-circle.png') no-repeat left 58%;
                                    background-size: auto;
                                }
                            }
    
                            &.oval {
                                background: url('./../../html/images/oval.png') no-repeat 90% 30%;
                                background-size: 115px 112px;
                                @include min-medium-screen {
                                    background-size: auto;
                                    background-position: top left;
                                }
                            }
    
                            &.rectangle {
                                background: url('./../../html/images/rectangle.png') right 60% no-repeat;
                            }
    
                            &.red-circle {
                                background: url('./../../html/images/red-circle.png') no-repeat right 67%;
                                background-size: 63px 63px;
                                @include min-medium-screen {
                                    background-size: auto;
                                }
                            }
    
                            &.green-circle {
                                background: url('./../../html/images/green-circle.png') no-repeat 56% 45%;
                                background-size: 63px 63px;
                                @include min-medium-screen {
                                    background-position: 20% 35%;
                                    background-size: auto;
                                }
                            }
    
                            &.big-green-circle {
                                background: url('./../../html/images/big-green-cricle.png') no-repeat right 40%;
                                background-size: 80px 80px;
                                @include min-medium-screen {
                                    background-size: auto;
                                }
                            }
                        }
                    }
                    
                    .name, .title-job {
                        color: $zephyr-gray;
                    }
                    
                    .name {
                        font-family: $Canela;
                        font-size: size(18);
                        font-weight: 300;
                        letter-spacing: size(0.28);
                        @include min-medium-screen {
                            font-size: size(23);
                            margin-bottom: size(7);
                        }
                        @include x-large-screen {
                            font-size: size(27);
                            margin-bottom: size(12);
                        }
                    }
                    
                    .title-job {
                        color: #252525;
                        font-family: $Sailec;
                        font-size: size(11);
                        font-weight: 400;
                        letter-spacing: size(0.08);
                        line-height: size(25);
                        @include min-medium-screen {
                            font-size: size(13);
                        }
                        @include x-large-screen {
                            font-size: size(16);
                        }
                    }
                }
            }
            
            .load-more {
                display: flex;
                @include marginX(auto);
                margin-top: size(30);
                @include min-medium-screen {
                    display: none;
                }
            }
        }
    }
}