.say-hello-wrapper {
    section.component-hero {
        .content {
            margin-bottom:size(20);
    
            .headline-1 {
                @include x-large-screen {
                    font-size: size(60);
                    line-height: size(72);
                    @include marginY(size(30), size(0))
                }
            }
        }
        
        .down {
            display: none;
        }
    }
    
    section.component-contact-us {
        position: relative;
        margin-bottom: 0;
        margin-top: 0;
        .contact-us-model {
            position: relative;
            top: size(-243);
        }
        //.iv-st-from-top, .iv-st-from-bottom, .iv-st-from-left, .iv-st-from-right, .word-up, .line-up, .real-line-up{
        //    opacity: 1;
        //    visibility: visible;
        //}
        //.child-word{
        //    position: relative;
        //    display: inline-block;
        //    transform: translate(0px, 0px);
        //}
        //.line-overflow, .word-overflow{
        //    position: relative;
        //    display: inline-block;
        //    overflow: visible;
        //}
    }
}
