.sector-expertise2-page-wrapper {
    .component-hero {
        .content {
            text-align: center;
            
            .headline-1,h1 {
                max-width: size(330);
                @include marginY(size(30));
                @include min-x-small-screen {
                    max-width: 100%;
                }
                @include min-medium-screen{
                    line-height: size(72);
                }
                @include x-large-screen {
                    font-size: size(60);
                    max-width: size(788);
                    @include marginY(size(28), size(22));
                }
            }
            
            .paragraph,p {
                @include x-large-screen {
                    max-width: size(910);
                }
            }
        }
    }
    
    .component-grid-images {
        @include marginY(size(100) , size(64));
        @include min-small-screen {
            @include marginY(size(200), size(40));
        }
        @include x-large-screen {
            @include marginY(size(350), size(40));
        }
    }
}
