@import "src/styles/variables";
@import "src/styles/mixins";

section.component-contact-us {
    .contact-us-model {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include min-small-screen {
            flex-direction: row-reverse;
            align-items: flex-start;
            border: 1px solid $zephyr-black;
        }
        @include x-large-screen {
            max-width: size(990);
            margin: 0 auto;
        }
        
        .data {
            background: $zephyr-gray;
            padding: size(54) size(27) size(35);
            width: 100%;
            margin-bottom: size(60);
            @include min-small-screen {
                flex-basis: 50%;
                margin-bottom: 0;
                padding: size(50) size(20);
                border-left: 1px solid $zephyr-black;
            }
            @include min-medium-screen {
                flex-basis: 45%;
            }
            @include x-large-screen {
                padding: size(61) size(58) size(61) size(41);
                flex-basis: 41%;
            }
            
            
            .title-contact {
                color: $zephyr-gray-light;
                margin-bottom: size(50);
                
            }
            
            form {
                max-width: size(276);
                display: flex;
                flex-direction: column;
                margin: auto;
                
                @include x-large-screen {
                    max-width: size(310);
                }
                
                input, textarea {
                    width: 100%;
                    min-height: size(42);
                    @include paddingX(size(16));
                    border: 1px solid #c7c7c7;
                    margin-bottom: size(15);
                }
                
                textarea {
                    min-height: size(162);
                    resize: none;
                    margin-bottom: size(34);
                    padding-top: size(10);
                    @include x-large-screen {
                        margin-bottom: size(63);
                    }
                    &::-webkit-scrollbar {
                        width: 2px;
                        border-radius: 50px;
                    }
                    
                    &::-webkit-scrollbar-track {
                        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                    }
                    
                    &::-webkit-scrollbar-thumb {
                        background-color: #c7c7c7;
                        outline: 1px solid slategrey;
                    }
                }
            }
            
            .btn {
                margin: auto;
                border: none;
                min-width: size(152);
                background-color: $zephyr-white;
                display: flex;
                @include x-large-screen {
                    border: 1px solid #4b4b4b;
                    min-width: size(189);
                }
            }
            
            .arrow {
                display: none;
            }
        }
        
        .content {
            background: $zephyr-white;
            @include min-small-screen {
                flex-basis: 50%;
                padding: size(50) size(20);
            }
            @include min-medium-screen {
                flex-grow: 1;
                padding: size(50) size(35);
            }
            @include x-large-screen {
                padding: size(60) size(63) size(60) size(68);

            }
            
            .title-contact {
                max-width: size(252);
                margin: 0 auto;
                text-align: center;
                @include min-small-screen {
                    text-align: left;
                    margin: 0;
                }
                @include min-medium-screen {
                    max-width: size(270);
                }
                @include x-large-screen {
                    max-width: size(400);
                }
            }
            
            > .paragraph-1 {
                max-width: size(262);
                @include marginY(size(15), size(32));
                @include min-small-screen {
                    text-align: left;
                    max-width: 230px;
                }
                @include min-medium-screen {
                    max-width: size(320);
                }
                @include x-large-screen {
                    @include marginY(size(18), size(32));
                    max-width: size(407);
                    opacity: 0.85;
                }
            }
            
            .contact-info {
                max-width: size(202);
                margin: 0 auto;
                
                @include min-small-screen {
                    text-align: left;
                    margin: 0;
                }
                @include x-large-screen {
                    max-width: size(282);
                    
                }
                
                .icon-and-info {
                    display: flex;
                    align-items: center;
                    
                    &:not(:last-child) {
                        margin-bottom: size(21);
                        @include x-large-screen {
                            margin-bottom: size(24);
                        }
                    }
                    
                    .paragraph-1 {
                        margin-left: size(36);
                        @include min-small-screen {
                            line-height: size(21);
                            margin-left: size(21);
                        }
                        @include x-large-screen {
                            opacity: 0.85;
                        }
                        
                    }
                    
                    svg {
                        flex-shrink: 0;
                    }
                }
                
            }
        }
        
        // in-about-page
        
        &.in-about-page {
            @include x-large-screen {
                .data {
                    position: relative;
                    
                    .arrow {
                        display: block;
                        position: absolute;
                        top: size(90);
                        right: 99%;
                    }
                    
                }
                .contact-info-in-about-page {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    
                    .icon-and-info {
                        display: flex;
                        
                        &:last-child {
                            margin-top: size(38);
                        }
                        
                        .info {
                            margin-left: size(18);
                            
                            .text {
                                color: $zephyr-gray;
                                font-family: $Sailec;
                                font-size: size(15);
                                font-weight: 500;
                                font-style: normal;
                                letter-spacing: size(0.17);
                                line-height: size(25);
                            }
                            
                            .paragraph-1 {
                                opacity: 0.85;
                            }
                        }
                        
                        &.location {
                            max-width: size(256);
                        }
                    }
                }
            }
            
        }
    }
}
