<meta charset="UTF-8">
<meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
<meta content="ie=edge" http-equiv="X-UA-Compatible">

<section class="component-about-us">
  <div class="container">
    <div class="about-us">
      <div class="about-us-title center">
        <h6 class="headline-6 normal word-up">ABOUT US</h6>
        <h2 class="headline-2 real-line-up">10 years of helping companies like yours</h2>
        <p class="paragraph-1">Zephyr is a specialist digital growth agency with 10 years experience in working with emerging startups in the health and welness space. Over the past decade, we have
          worked closely with client teams to help them define their proposition and brand profiles, through to designing and developing impactful web experiences and results driven marketing
          campaigns</p>
      </div>
      <div class="about-us-content">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="about-logo">
              <div class="image-wrapper">
                <img src="./../../html/images/about-logo1.png" alt="about logo1">
              </div>
              <p class="paragraph-1">Cras varius velit blandit, pellentesque purus blandit, elementum purus. Duis elementum eros quam, et tristique augue porta quis. Aenean rutrum quam vel augue pretium faucibus.</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="about-logo">
              <div class="image-wrapper">
                <img src="./../../html/images/about-logo2.png" alt="about logo2">
              </div>
              <p class="paragraph-1">Mauris aliquet interdum sapien, eu convallis eros lacinia eget. Mauris leo est, vestibulum at lorem sit amet, vehicula posuere felis. Morbi malesuada, ex in ultricies.</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="about-logo">
              <div class="image-wrapper">
                <img src="./../../html/images/about-logo3.png" alt="about logo3">
              </div>
              <p class="paragraph-1">Etiam consectetur lorem ut sapien ullamcorper, sed sollicitudin dolor venenatis. Aenean pharetra vel turpis eu tempus. Sed vulputate arcu eu dolor ornare, quis posuere erat.</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="about-logo">
              <div class="image-wrapper">
                <img src="./../../html/images/about-logo4.png" alt="about logo4">
              </div>
              <p class="paragraph-1">Pellentesque pharetra ex ac mauris dictum, a consectetur diam feugiat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nam rhoncus.</p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="about-logo">
              <div class="image-wrapper">
                <img src="./../../html/images/about-logo5.png" alt="about logo5">
              </div>
              <p class="paragraph-1">Etiam laoreet ullamcorper ipsum nec scelerisque. Cras vel neque quis justo interdum porta ut eget sapien. Vestibulum consequat justo fringilla, dapibus sapien sed, blandit odio.</p>
            </div>
          </div>

        </div>
      </div>
      <div class="about-us-images">
        <div class="image-1">
          <div class="image-wrapper">
            <img src="./../../html/images/about-image1.png" alt="about-image-1">
          </div>
          <p class="paragraph-1">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Cras mattis consectetur purus sit amet fermentum.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="./main.js"></script>
