<meta charset="UTF-8">
<meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
<meta content="ie=edge" http-equiv="X-UA-Compatible">
<div smooth-scroll-container="">
  
  <section class="component-success-stories">
    <div class="container">
      <div class="paragraph-1 center word-up">case studies</div>
      <h1 class="headline-1 real-line-up">Other success stories</h1>
      <div class="grid">
        <div class="grid-item">
          <div class="image-wrapper">
            <img src="../../html/images/bg-black.png" alt="bg-black">
            <img style="top: -2.2rem;" class="iphone-frame" src="../../html/images/iPhone9-fram.png" alt="iPhone9-fram">
          </div>
          <div class="content">
            <h5 class="headline-5 word-up">Spencer hart</h5>
            <h4 class="headline-4 real-line-up">Ultra premium men’s tailoring.</h4>
          </div>
        </div>
        <div class="grid-item">
          <div class="image-wrapper">
            <img src="../../html/images/bkueerectangle_8.png" alt="bkueerectangle">
            <img class="logo" src="../../html/images/pangaea.png" alt="pangaea">
          </div>
          <div class="content">
            <h5 class="headline-5 word-up">Pangaea</h5>
            <h4 class="headline-4 real-line-up">Uncovering a new wave of medical research..</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<script src="./main.js"></script>


