@import "src/styles/variables";
@import "src/styles/mixins";

section.component-success-stories {
    
    .paragraph-1 {
        font-size: size(14);
    }
    
    .headline-1 {
        color: $zephyr-gray;
        @include marginY(size(30), size(70));
        @include min-small-screen {
            @include marginY(size(13), size(60));
            
        }
        @include min-medium-screen {
            font-size: size(45);
            line-height: size(66);
            letter-spacing: size(0.44);
        }
        
        @include x-large-screen {
            @include marginY(size(13), size(85));
        }
    }
    
    
    .row {
        @include change-gutter(20px);
        @include min-large-screen {
            @include change-gutter(76px);
        }
    }
    
    .card {
        
        &:not(:last-child) {
            margin-bottom: size(43);
        }
        
        .image-wrapper {
            position: relative;
            height: 0;
            
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
            
            &.image-wrapper-1 {
                padding-top: 105.5%;
            }
            
            &.image-wrapper-2 {
                padding-top: 66.34%;
            }
        }
        
        .content {
            .headline-5 {
                @include marginY(size(18), size(6));
                @include min-large-screen {
                    @include marginY(size(32), size(6));
                }
            }
            
            .headline-4 {
                max-width: size(320);
                @include x-large-screen {
                    max-width: 100%;
                }
            }
        }
    }
}


