@import "src/styles/variables";
@import "src/styles/mixins";

section.component-success-stories {
    
    .paragraph-1 {
        font-size: size(14);
        font-family: $Sailec;
        letter-spacing: size(0.44);
    }
    
    .headline-1 {
        color: $zephyr-gray;
        @include marginY(size(30), size(72));
        @include min-small-screen {
            @include marginY(size(15), size(90));
            
        }
        @include min-medium-screen {
            font-size: size(45);
            line-height: size(66);
            letter-spacing: size(0.44);
        }
        
        @include x-large-screen {
            @include marginY(size(13), size(85));
        }
    }
    
    
    
    
    .grid-item {
        width: calc(100% / 2 - 76px);
        &:not(:last-child) {
            margin-bottom: size(43);
        }
        
        .image-wrapper {
            position: relative;
            
            img {
                width: 100%;
                &.iphone-frame{
                    position: absolute;
                    width: 61.3%;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    height: 100%;
                    @include x-large-screen{
                        height: auto;
                    }
                    @include max-large-screen{
                        top: 0 !important;
                    }
                }
                &.logo{
                    width: 59%;
                    height: auto;
                    left: 50%;
                    top: 50%;
                    position: absolute;
                    transform: translate(-50%,-50%);
                }
            }
        }
        
        .content {
            .headline-5 {
                @include marginY(size(18), size(6));
                @include min-large-screen {
                    @include marginY(size(32), size(6));
                }
            }
            
            .headline-4 {
                max-width: size(320);
                @include x-large-screen {
                    max-width: 100%;
                }
            }
        }
    }
}


