@import "variables";

@font-face {
    font-family: $Sailec;
    src: url('./fonts/sailecRegular.otf') format('font/otf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: $Sailec;
    src: url('./fonts/sailecMedium.otf') format('font/otf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: $Canela;
    src: url('./fonts/canelaLight.otf') format('font/otf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: $Canela;
    src: url('./fonts/canelaLightItalic.otf') format('font/otf');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}



@font-face {
    font-family: $Freight;
    src: url('./fonts/freightTextProBookRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: $Freight;
    src: url('./fonts/freightTextProMedium-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: $Freight;
    src: url('./fonts/freightTextProMedium-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}@font-face {
    font-family: $Freight;
    src: url('./fonts/freightTextProMedium-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: $Freight;
    src: url('./fonts/freightTextProSemibold-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}