@import "variables";
@import "mixins";

:root {
    /* Colors: */
    --zephyr-black: #000000;
    --zephyr-white: #ffffff;
    --zephyr-orange: #fd9326;
    --zephyr-yellow: #f9c75d;
    --zephyr-pink: #ff4286;
    --zephyr-blue-light: #2fc9d7;
    --zephyr-blue: #4381cf;
    --zephyr-dark-blue: #1b1c30;
    --zephyr-salmon: #f67f6f;
    --zephyr-ruby: #f65257;
    --zephyr-green-light: #8cf7b7;
    --zephyr-green: #37c073;
    --zephyr-dark: #097dde;
}

* {
    box-sizing: border-box;
    outline: none;
}

html {
    font-family: $proxima-nove, sans-serif;
    font-size: 10px;
    direction: ltr !important;
    width: 100%;
    overflow: hidden;
    //@include max-xxx-large-screen{
    //    font-size: 8px;
    //}
    //@include max-xx-large-screen{
    //    font-size: 7px;
    //}
    //@include max-x-large-screen{
    //    font-size: 7px;
    //}
    //@include max-large-screen{
    //    font-size: 9px;
    //}
    //@include max-medium-screen{
    //    font-size: 9px;
    //}
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.overflow-hidden {
    overflow: hidden;
}

img {
    display: block;
}

button {
    border: none;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

.hover-arrow {
    .right-arrow, .left-arrow {
        transition: all 400ms;
    }
    
    &:hover {
        .right-arrow {
            //transform: translateX(40%) rotateX(0.01deg) !important;
            margin-left: size(20);
        }
        
        .left-arrow {
            //transform: translateX(40%) rotateX(0.01deg) !important;
            margin-right: size(20);
        }
    }
}

.hover-zoom {
    transition: transform 800ms;
    
    &:hover {
        transform: scale(1.1) !important;
    }
}

.hover-darken {
    transition: filter 400ms;
    
    &:hover {
        filter: brightness(0.6);
    }
}

.container {
    @include paddingX(size(22));
    @include x-large-screen {
        max-width: size(1124);
        @include paddingX(size(76));
    }
}

.h-100 {
    height: 100%;
}

.center {
    text-align: center;
}


// Zephyr general classes
//$color-names: "black", "dark-blue", "light-blue", "dark-yellow", "light-yellow", "dark-gray", "light-gray";
//$colors: $black, $dark-blue, $light-blue, $dark-yellow, $light-yellow, $dark-gray, $light-gray;
//$types: "";
//
//@for $color from 1 through 4 {
//  @each $type in $types {
//
//    .#{nth($color-names, $color)}#{$type} {
//      #{$type}color: nth($colors, $color);
//    }
//
//  }
//}

.swiper-container {
    height: auto !important;
}

.swiper-wrapper {
    height: auto !important;
}

.swiper-button-prev, .swiper-button-next {
    width: fit-content !important;
    height: fit-content !important;
    transition: 400ms ease;
    top: 50% !important;
    transform: translateY(-50%);
    margin-top: 0 !important;
    
    &:after {
        content: '' !important;
    }
    
    svg {
        width: size(40);
        height: size(64);
    }
    
    &.swiper-button-next {
        left: 0 !important;
    }
    
    &.swiper-button-prev {
        right: 0 !important;
        
        &.rotated {
            svg {
                transform: rotate(180deg);
            }
        }
    }
    
}

.headline-1, .quote, .wysiwyg-block h1 {
    color: $zephyr-black;
    font-size: size(35);
    line-height: size(40);
    font-weight: 700;
    @include min-medium-screen {
        font-size: size(64);
        line-height: size(60);
    }
    @include min-large-screen {
        font-size: size(90);
        line-height: size(110);
    }
}

.headline-2, .tagline, .wysiwyg-block h2 {
    color: $zephyr-black;
    font-size: size(36);
    line-height: size(49);
    font-weight: 600;
    @include min-small-screen {
        font-size: size(48);
        line-height: size(61);
    }
    @include min-large-screen {
        font-size: size(60);
        line-height: size(73);
    }
}

.headline-3, .page-title, .wysiwyg-block h3 {
    color: $zephyr-black;
    font-size: size(48);
    line-height: 61px;
    font-weight: 700;
    @include min-small-screen {
        font-size: size(50);
    }
}

.headline-4, .subtitle, .wysiwyg-block h4 {
    color: $zephyr-black;
    font-size: 48px;
    font-weight: 400;
}

.headline-5, .section-title, .wysiwyg-block h5 {
    color: $zephyr-black;
    font-size: size(30);
    line-height: size(30);
    font-weight: 600;
}

.headline-6, .cta, .wysiwyg-block h6 {
    color: $zephyr-black;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
}

.paragraph, .wysiwyg-block p,
.wysiwyg-block li {
    color: $zephyr-black;
    font-size: size(18);
    font-weight: 400;
    line-height: size(30);
}

// read more with arrow

.read-more {
    display: flex;
    align-items: center;
    width: fit-content;
    
    span {
        font-size: size(14);
        font-weight: 600;
        text-transform: uppercase;
        display: inline-block;
        color: var(--zephyr-dark);
        margin-right: 12px;
        @include min-large-screen {
            font-size: size(15);
        }
    }
}

.line-overflow,
.word-overflow {
    overflow: hidden;
    vertical-align: top;
}

[class ^="iv-st"], [class *= " iv-st"] {
    opacity: 0;
    visibility: hidden;
}

.iv-st-from-top, .iv-st-from-bottom, .iv-st-from-left, .iv-st-from-right, .word-up, .line-up, .real-line-up {
}

[smooth-scroll-container] {
    //width: auto;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin: 0;
}