@import "variables";
@import "mixins";

:root {
    /* Colors: */
    --zephyr-black: #000000;
    --zephyr-white: #ffffff;
    --zephyr-orange: #fd9326;
    --zephyr-yellow: #f9c75d;
    --zephyr-pink: #ff4286;
    --zephyr-blue-light: #2fc9d7;
    --zephyr-blue: #4381cf;
    --zephyr-dark-blue: #1b1c30;
    --zephyr-salmon: #f67f6f;
    --zephyr-ruby: #f65257;
    --zephyr-green-light: #8cf7b7;
    --zephyr-green: #37c073;
    --zephyr-dark: #097dde;
}

* {
    box-sizing: border-box;
    outline: none;
}

html {
    font-family: $proxima-nove, sans-serif;
    font-size: 10px;
    direction: ltr !important;
    width: 100%;
    overflow: hidden;
    //@include max-xxx-large-screen{
    //    font-size: 8px;
    //}
    //@include max-xx-large-screen{
    //    font-size: 7px;
    //}
    //@include max-x-large-screen{
    //    font-size: 7px;
    //}
    //@include max-large-screen{
    //    font-size: 9px;
    //}
    //@include max-medium-screen{
    //    font-size: 9px;
    //}
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.overflow-hidden {
    overflow: hidden;
}

img {
    display: block;
}

button {
    border: none;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

.hover-arrow {
    .right-arrow, .left-arrow {
        transition: all 400ms;
    }
    
    &:hover {
        .right-arrow {
            //transform: translateX(40%) rotateX(0.01deg) !important;
            margin-left: size(20);
        }
        
        .left-arrow {
            //transform: translateX(40%) rotateX(0.01deg) !important;
            margin-right: size(20);
        }
    }
}

.hover-zoom {
    transition: transform 800ms;
    
    &:hover {
        transform: scale(1.1) !important;
    }
}

.hover-darken {
    transition: filter 400ms;
    
    &:hover {
        filter: brightness(0.6);
    }
}

.container {
    @include paddingX(size(22));
    @include x-large-screen {
        max-width: size(1124);
        @include paddingX(size(76));
    }
}

.h-100 {
    height: 100%;
}

.center {
    text-align: center;
}


// Zephyr general classes
//$color-names: "black", "dark-blue", "light-blue", "dark-yellow", "light-yellow", "dark-gray", "light-gray";
//$colors: $black, $dark-blue, $light-blue, $dark-yellow, $light-yellow, $dark-gray, $light-gray;
//$types: "";
//
//@for $color from 1 through 4 {
//  @each $type in $types {
//
//    .#{nth($color-names, $color)}#{$type} {
//      #{$type}color: nth($colors, $color);
//    }
//
//  }
//}

.swiper-container {
    height: auto !important;
}

.swiper-wrapper {
    height: auto !important;
}

.swiper-button-prev, .swiper-button-next {
    width: fit-content !important;
    height: fit-content !important;
    transition: 400ms ease;
    top: 50% !important;
    transform: translateY(-50%);
    margin-top: 0 !important;
    
    &:after {
        content: '' !important;
    }
    
    svg {
        width: size(40);
        height: size(64);
    }
    
    &.swiper-button-next {
        left: 0 !important;
    }
    
    &.swiper-button-prev {
        right: 0 !important;
        
        &.rotated {
            svg {
                transform: rotate(180deg);
            }
        }
    }
    
}

.headline-1, .quote, .wysiwyg-block h1 {
    color: $zephyr-black;
    font-size: size(35);
    line-height: size(40);
    font-weight: 700;
    @include min-medium-screen {
        font-size: size(64);
        line-height: size(60);
    }
    @include min-large-screen {
        font-size: size(90);
        line-height: size(110);
    }
}

.headline-2, .tagline, .wysiwyg-block h2 {
    color: $zephyr-black;
    font-size: size(36);
    line-height: size(49);
    font-weight: 600;
    @include min-small-screen {
        font-size: size(48);
        line-height: size(61);
    }
    @include min-large-screen {
        font-size: size(60);
        line-height: size(73);
    }
}

.headline-3, .page-title, .wysiwyg-block h3 {
    color: $zephyr-black;
    font-size: size(48);
    line-height: 61px;
    font-weight: 700;
    @include min-small-screen {
        font-size: size(50);
    }
}

.headline-4, .subtitle, .wysiwyg-block h4 {
    color: $zephyr-black;
    font-size: 48px;
    font-weight: 400;
}

.headline-5, .section-title, .wysiwyg-block h5 {
    color: $zephyr-black;
    font-size: size(30);
    line-height: size(30);
    font-weight: 600;
}

.headline-6, .cta, .wysiwyg-block h6 {
    color: $zephyr-black;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
}

// in footer
.headline-7 {
    color: $zephyr-black;
    font-size: size(24);
    font-weight: 400;
    line-height: size(31);
    @include min-large-screen {
        font-size: size(29);
        line-height: size(40);
    }
}


.headline-8 {
    color: $zephyr-black;
    font-size: size(24);
    line-height: size(30);
    font-weight: 600;
    @include min-medium-screen {
        font-size: size(30);
    }
}

.headline-9 {
    color: $zephyr-black;
    font-size: size(24);
    line-height: size(30);
    font-weight: 700;
    @include min-small-screen {
        font-size: size(36);
        line-height: size(40);
        
    }
    @include min-large-screen {
        font-size: size(90);
        line-height: size(110);
    }
}

.paragraph, .wysiwyg-block p,
.wysiwyg-block li {
    color: $zephyr-black;
    font-size: size(18);
    font-weight: 400;
    line-height: size(30);
}

.paragraph-1 {
    color: $zephyr-black;
    font-size: size(30);
    font-weight: 600;
    line-height: size(45);
}

.tag {
    color: $zephyr-black;
    font-size: size(18);
    font-weight: 600;
    line-height: size(30);
}

.details {
    color: $zephyr-blue;
    font-size: size(15);
    font-weight: 600;
    line-height: size(30);
    text-transform: uppercase;
}

// header and footer links
.small-link {
    color: $zephyr-black;
    font-size: size(14);
    font-weight: 600;
    line-height: size(14);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    
    @include min-medium-screen {
        font-size: size(18);
        line-height: size(18);
    }
    
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 100%;
        width: 100%;
        height: 100%;
        z-index: -1;
        margin-top: size(6);
        transition: all 200ms ease-in-out;
        background-image: linear-gradient(-83deg, #2edfe8 16%, #0080ff 100%);
    }
    
    &:hover {
        &:before {
            right: 0;
        }
    }
}

.small-text {
    color: $zephyr-black;
    font-size: size(14);
    font-weight: 400;
    line-height: size(24);
    
    &.has-blue {
        color: $zephyr-blue;
    }
}

// read more with arrow

.read-more {
    display: flex;
    align-items: center;
    width: fit-content;
    
    span {
        font-size: size(14);
        font-weight: 600;
        text-transform: uppercase;
        display: inline-block;
        color: var(--zephyr-dark);
        margin-right: 12px;
        @include min-large-screen {
            font-size: size(15);
        }
    }
}


svg {
    transition: all 4ms ease-in-out;
    
    path {
        transition: all 400ms ease-in-out;
    }
}

// genearl btn style
.main-btn {
    width: fit-content;
    color: $zephyr-white;
    font-size: size(29);
    font-weight: 400;
    line-height: 40px;
    padding: size(8) size(80);
    background-image: linear-gradient(-83deg, #2edfe8 16%, #0080ff 100%);
    cursor: pointer;
    display: block;
    line-height: initial;
    transition: background-image 400ms;
    
    &:hover {
        background-image: linear-gradient(-83deg, #0080ff 16%, #2edfe8 100%);
    }
    
    &.small-btn {
        padding: size(8) size(24);
        @include paddingY(size(24) size(18))
    }
}

// open-careers-video-icon // careers general
.open-careers-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    width: size(30);
    height: size(37);
    @include min-small-screen {
        width: size(50);
        height: size(62);
    }
    @include min-medium-screen {
        width: size(58);
        height: size(75);
    }
    
    &.fill-white {
        path {
            stroke: $zephyr-white;
        }
    }
}

//success-stories-row
.play-success-video {
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

.stories-row {
    @include change-gutter(16px);
    
    .read-more {
        svg {
            width: size(18);
            height: size(12);
        }
    }
    
    .box-describe {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: #fbf6ff;
        @include paddingY(size(30));
        @include paddingX(size(44));
    }
}

.center {
    text-align: center;
}

.line-overflow,
.word-overflow {
    overflow: hidden;
    vertical-align: top;
}

[class ^="iv-st"], [class *= " iv-st"] {
    opacity: 0;
    visibility: hidden;
}

.iv-st-from-top, .iv-st-from-bottom, .iv-st-from-left, .iv-st-from-right, .word-up, .line-up, .real-line-up {
}

[smooth-scroll-container] {
    //width: auto;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

.change-gutter-85 {
    @include change-gutter(85)
}

// general input style
.component-modal {
    form {
        width: 100%;
        position: relative;
        margin: 0;
        
        input, textarea, select {
            width: 100%;
            min-height: 53px;
            @include paddingX(size(12));
            border: 1px solid #9899a2;
            outline: none;
            color: $zephyr-black;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: size(24);
            
            &::placeholder {
                color: $zephyr-black;
                font-size: 18px;
                font-weight: 600;
                line-height: 30px;
            }
        }
        
        textarea {
            resize: none;
            
            &::-webkit-resizer {
                display: none;
                pointer-events: none;
            }
        }
    }
}

section.component-modal {
    
    .modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        overflow: hidden;
        outline: 0;
        transition: opacity .15s linear;
        background: $zephyr-dark-blue;
        opacity: 0;
        pointer-events: none;
        
        &::-webkit-scrollbar {
            display: none;
        }
        
        &.active {
            overflow-x: hidden;
            overflow-y: auto;
            opacity: 1;
            z-index: 99;
            pointer-events: auto;
        }
        
        .close-model {
            position: absolute;
            top: 21px;
            right: 28px;
            cursor: pointer;
            z-index: 100;
            
            svg {
                &:hover {
                    path {
                        fill: $zephyr-blue;
                    }
                }
            }
        }
        
        .modal-dialog {
            position: relative;
            width: auto;
            pointer-events: none;
            margin: 0 auto;
        }
        
        .headline-1 {
            width: 100%;
            text-align: left;
            @include min-small-screen {
                text-align: center;
            }
        }
        
        .headline-5 {
            width: 100%;
            line-height: 33px;
            text-align: left;
            @include min-small-screen {
                text-align: center;
            }
        }
        
        .modal-content {
            position: relative;
            width: 100%;
            pointer-events: auto;
            background-color: #ffffff;
            background-clip: padding-box;
            border: 1px solid rgba(0, 0, 0, .2);
            outline: 0;
            margin: 0 auto;
            
            .data {
                form {
                    .tag {
                        margin-bottom: size(5);
                    }
                    
                    textarea {
                        min-height: size(262);
                        margin-bottom: size(50);
                        @include min-small-screen {
                            margin-bottom: size(29);
                        }
                        @include min-large-screen {
                            min-height: size(307);
                            margin-bottom: size(60);
                        }
                    }
                }
            }
            
            .main-btn {
                margin: 0 auto;
            }
            
        }
        
        &.contact-us {
            .modal-dialog {
                @include paddingY(size(70));
                @include min-small-screen {
                    max-width: size(768);
                }
                @include min-medium-screen {
                    max-width: size(849);
                }
                @include min-large-screen {
                    max-width: size(1105);
                }
                
                .modal-content {
                    padding: size(112) size(20) size(54);
                    @include min-small-screen {
                        padding: size(158) size(40) size(127);
                    }
                    @include min-medium-screen {
                        padding: size(113) size(80) size(86);
                    }
                    
                    .headline-5 {
                        margin: size(35) auto size(45);
                        @include min-large-screen {
                            margin: size(22) auto size(63);
                        }
                    }
                }
            }
        }
        
        &.newsletter {
            .modal-dialog {
                @include paddingY(size(175));
                @media (min-width: 400px) {
                    max-width: size(360);
                }
                @include min-small-screen {
                    max-width: size(688);
                }
                @include min-large-screen {
                    max-width: size(813);
                }
                
                .modal-content {
                    padding: size(175) size(20) size(177);
                    @include min-small-screen {
                        padding: size(55) size(60) size(50);
                    }
                    @include min-large-screen {
                        padding: size(68) size(120) size(55);
                    }
                    
                    .headline-5 {
                        margin: size(43) 0 size(45);
                        max-width: size(242);
                        @include min-small-screen {
                            max-width: 100%;
                            margin: size(33) 0 size(56);
                        }
                    }
                    
                    form {
                        //margin-bottom: size(55);
                        margin-bottom: size(20);
                        @include min-small-screen {
                            margin-bottom: size(57);
                        }
                    }
                    
                    .tag {
                        text-align: left;
                        @media (min-width: 400px) {
                            text-align: center;
                        }
                    }
                }
            }
        }
        
        &.thank-you {
            .modal-dialog {
                @media (min-width: 400px) {
                    max-width: size(360);
                }
                @include min-small-screen {
                    max-width: size(689);
                }
                @include min-large-screen {
                    width: size(861);
                }
                
                .modal-content {
                    padding: size(250) size(40) size(264) size(20);
                    @media (min-width: 400px) {
                        padding: size(80) size(40) size(80) size(20);
                    }
                    @include min-small-screen {
                        padding: size(108) size(110) size(80);
                    }
                    @include min-large-screen {
                        padding: size(70) size(0) size(90);
                    }
                    
                    .headline-5 {
                        margin-top: 63px;
                        
                        @include min-large-screen {
                            max-width: size(460);
                            margin: size(35) auto 0;
                        }
                    }
                }
            }
        }
        
    }
}

.scrollbar-track-y {
    z-index: 1000 !important;
}

.image-reveal--parent {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    height: 100% !important;
    width: 100% !important;
}

.w-100 {
    width: 100% !important;
}

.barba-overlay-transition {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    transform: translate(0%, 100%);
    z-index: 6;
    background-color: #2edfe8;
    //background: linear-gradient(96deg, #8200ff 0%, #8e00f4 11%, #af00d6 31%, #d100b8 49%, #ff416a 100%) !important;
}

wave {
    overflow: hidden !important;
}

.page-wrapper-404 {
    padding: size(100);
    padding-top: size(170);
    
    .main-btn {
        margin: 0 auto;
        margin-top: size(70);
    }
}

.service-video-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out;
    padding-top: 10%;
    padding-bottom: 10%;
    
    &.active {
        opacity: 1;
        visibility: visible;
    }
    
    .modal-content {
        position: relative;
        width: 80%;
        height: 100%;
        display: flex;
        align-items: center;
        margin: 0 auto;
        justify-content: center;
        
        .aspect-ratio {
            height: 0;
            position: relative;
            padding-top: 56.25%;
            width: 100%;
            
            iframe, video {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
        
    }
    
    .close-modal {
        position: absolute;
        right: size(50);
        top: size(50);
        cursor: pointer;
        z-index: 9;
        
        &:hover {
            svg {
                color: #2edfe8;
            }
        }
        
        svg {
            width: size(40);
            height: size(40);
            color: #ffffff;
            transition: 400ms ease;
        }
    }
    
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 1;
        background: $zephyr-dark-blue;
        transition: all 400ms ease-in-out;
        pointer-events: none;
    }
}