// media screen sizes
$xx-small-screen-max-width: 399.98px;
$x-small-screen-max-width: 575.98px;
$small-screen-max-width: 767.98px;
$medium-screen-max-width: 899.98px;
$large-screen-max-width: 1023.98px;


$x-small-screen-min-width: 400px;
$small-screen-min-width: 576px;
$medium-screen-min-width: 768px;
$large-screen-min-width: 900px;
$x-large-screen-min-width: 1024px;


// color

//
$zephyr-white: var(--zephyr-white);
$zephyr-black: var(--zephyr-black);
$zephyr-gray: var(--zephyr-gray);
$zephyr-green: var(--zephyr-green);
$zephyr-gray-light: var(--zephyr-gray-light);
$zephyr-milky: var(--zephyr-milky);
$zephyr-dark-blue: var(--zephyr-dark-blue);
$zephyr-salmon: var(--zephyr-salmon);
$zephyr-ruby: var(--zephyr-ruby);
$zephyr-green-light: var(--zephyr-green-light);

// fonts
$Sailec: 'Sailec';
$Canela: 'Canela';
$Freight: 'FreightText Pro';

//override bootstrap variables
$grid-gutter-width: 76px;
$container-max-widths: (
        'xs': 560px,
        'sm': 570px,
        'md': 760px,
        'lg': 890px,
        'xl': (1124/1280)*100%,
);
$grid-breakpoints: (
        'xxs': 0,
        'xs': $x-small-screen-min-width,
        'sm': $small-screen-min-width,
        'md': $medium-screen-min-width,
        'lg': $large-screen-min-width,
        'xl': $x-large-screen-min-width,
);



